.container {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid #eee;
  margin-right: 60px;
  background-color: #fff;
  transition: box-shadow 0.5s;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 0 20px;

  &:hover {
    box-shadow: 2px 13px 50px -8px #bcbbbb;
    transition: box-shadow 0.3s;
  }
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__count {

  }

  &__name {

  }
}